services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb+srv://sachin:sachin.jangid_@cluster0.t5vv8.mongodb.net/test?retryWrites=true&w=majority
    restart: unless-stopped

  frontend:
    build: .
    ports:
      - "80:80"
    depends_on:
      - backend